{% extends "base.html" %}
{% block title %}product details{% endblock %}
{% block body %}
<div class="conatiner">
    <div class="row">
        <h2><a href="/Productregister">register new product</a></h2>
        <h2><a href="/">home</a></h2>
         <table class="table-bordered">
            <tr>
                <th>sr.no</th>
                <th>productname</th>
                <th>category</th>
                <th>description</th>
                <th>price</th>
                <th>images</th>
                <th>edit</th>
                <th>edit</th>
            </tr>
            {% for x in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.productname}}</td>
                <td>{{x.category}}</td>
                <td>{{x.description}}</td>
                <td>{{x.price}}</td>
                <td>{{x.images.url}}</td>
                <td><a href="http://"></a>edit</td>
                <td><a href="http://"></a>delete</td>
            </tr>
            {% endfor %}
         </table>
    </div>
</div>
{% endblock %}
